<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.10.2/antd.min.css" />
    <%%- title %>
    <%%- meta %>
    <%%- link %>
    <%%- style %>
</head>
<body>
    <div id="root"> 
        <%%- content %>
    </div>
    <script> 
        window.__INITIAL__STATE__ = <%%- initialState %>
    </script>
</body>
</html>